*{
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    color:aliceblue;
}
body{
    background-image: url(A_bg.jpg);
    background-size: cover;
}
#a1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: auto;
    background-color:darkslategrey;
}
#a2{
    padding: 5px;
    padding-top: 15px;
}
#a3{
    padding: 10px;
}
#a4{
    padding: 15px;
}
#a5{
    padding: 10px;
    display: flex;
    justify-content:center ;
    align-items: center;
}

#a6{
    padding: 10px;
    display: flex;
    justify-content:center ;
    align-items: center;
}
#a7{
    padding: 20px;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.a7_:hover{
    color: bisque;
}